/* Core */
h5 {
    font-weight: 100 !important;
    font-size: 1.5rem !important;
}

nav {
    background-color: rgba(50, 50, 50, 0.4);
    backdrop-filter: blur(10px);
    font-size: 15px;
    color: white;
    letter-spacing: 0.05rem;
}


/* Navbar section */
nav img {
    transform: translateY(-3px);
}

#nav-logo-left {
    height: 23px;
    filter: brightness(0.7);
    transition: all 0.3s ease-in-out;
}

#nav-logo-left:hover {
    filter: brightness(0.9);
}

#nav-logo-center {
    height: 20px;
    filter: brightness(0.7);
    transition: all 0.3s ease-in-out;
}

#nav-logo-center:hover {
    filter: brightness(0.9);
}


/* Hero section */
#hero-one-text {
    z-index: 2;
}

#hero-one-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 53px;
    color: white;
    letter-spacing: -0.1rem;
}

#hero-one-text h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    letter-spacing: -0.1rem;
}

#hero-one-text a {
    transition: all 0.3s ease-in-out;
    width: fit-content;
    margin-left: 15px;
    padding: 8px 20px;
}

#hero-one-img {
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center 30%;
    z-index: 1;
    animation: blue-glow 4s infinite;
}

#hero-two-logo {
    width: 40px;
    height: auto;
}

#hero-two-text {
    z-index: 2;
}

#hero-two-text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 53px;
    color: white;
    letter-spacing: 0.1rem;
}

#hero-two-text h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    letter-spacing: -0.1rem;
}

#hero-two-text h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: rgb(243, 97, 0);
    letter-spacing: 0.1rem;
}

#hero-two-text a {
    transition: all 0.3s ease-in-out;
    width: fit-content;
    margin-left: 15px;
    padding: 8px 20px;
}

#hero-two-img {
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center 30%;
    z-index: 1;
}


/* What's New section */
#whats-new {
    color: white;
}

#cpu-room {
    margin-top: 350px;
}

#cpu-room h2, #cpu-room h3 {
    font-weight: 100;
}

#humanoid {
    margin-top: 350px;
}

#lawn-bot-img {
    object-fit: none;
    object-position: center -240px;
}

#phone-hand-img {
    object-fit: cover;
}

#trade-in-logo {
    width: 27px;
    height: auto;
    margin-right: 120px;
    padding-top: 2px;
}

#trade-in-text {
    margin-left: 80px;
    margin-right: 50px;
    padding-top: 3px;
}

#phone-hand h3 {
    font-weight: 100;
}

.inner-main {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.inner-main h2, h3, a {
    z-index: 2;
}

.inner-main a {
    width: fit-content;
    margin-left: 15px;
}

.inner-main img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}


/* Deals/Carousel section */
#main-carousel {
    height: 600px;
    margin-bottom: 0; 
}

#main-carousel .carousel-inner {
    height: 100%;
}

#main-carousel .carousel-item img {
    height: 100%;
    object-fit: contain;
    object-position: center -200px;
}

#phone-bright-caption {
    color: #1e1e1e;
    transform: translateY(-590px);
}

#speaker-core-caption {
    transform: translateY(-720px);
}

#phone-kbd-caption {
    transform: translateY(-800px);
}


/* Subscribe Form Section */
#subscribe {
    background-color: #f5f5f7;
    margin-top: 0;
}

#subscribe h2, h5 {
    color: #1e1e1e;
}


/* Footer Section */
#footer {
    background-color: #ececec;
    box-shadow: 0px -2px 15px rgb(199, 199, 199);
}

#footer-text {
    text-decoration: none;
    color: #1e1e1e;
}


/* Media Queries */
@media screen and (max-width: 767px) {
    #main-carousel .carousel-item img {
        object-position: -550px -100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1175px) {
    #main-carousel .carousel-item img {
        object-position: -350px -100px;
    }
}


/* Animations */
@keyframes blue-glow {
    0% {
        filter:brightness(1) contrast(1) saturate(1);
    }
    50% {
        filter:brightness(1.8) contrast(1.2) saturate(1.2);
    }
    0% {
        filter:brightness(1) contrast(1) saturate(1);
    }
}